# Игнорировать все папки в корневой директории
/*/

# Не игнорировать эти папки и всё внутри них
!/SyntheticMacrostateStudy/
!/SyntheticMacrostateStudy/**

# Too large for GitHub regular Git storage
/SyntheticMacrostateStudy/results/gnn_predictions.parquet